@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #EFECE8;
    /* height: 360vh; */
}
/*----------------- FLEX ------------ */
.flex{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
/* Dropdown Button */
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



.flex-space{
    display: flex;
    justify-content: space-between;
}
.flex-space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header{
    width: 100%;
    max-width: 100%;
    height: 10vh;
}
.navbar{
    position: relative;
    top: 2rem;
    width: 90%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header-left-content{
    width: 25%;
}
.unlisted{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}
.unlisted-text{
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;
    color: black;
}
a{
    text-decoration: none;
}
.box{
    padding: 5px 10px;
    border-radius: 0px;
    text-decoration: none;
    color: white;
    background-color: #343434;
    border: none;
}


/* Main Content */
main{
    height: 80vh;
    width: 100%;
}
.main-left-content, .main-right-content{
    width: 45%;
}
h1{
    font-family: Montserrat;
    font-size: 14rem;
    font-style: normal;
    font-weight: 900;
    line-height: 216px;
    letter-spacing: -0.02em;
    text-align: left;
    overflow: hidden;
}
svg{
    box-shadow: 0px 4px 4px 0px #000040;
    overflow: hidden;
}
/* ----- Section Content ------*/
section{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section-left-content, .section-right-content{
    width: 40%;
}
.section-left-content-text-title{
    display: flex;
}
h4{
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.02em;
}
h5{
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.02em;
}
hr{
    position: relative;
    width: 18rem;
    height: 1px;
    background-color: black;
    top: 14.5px;
    text-decoration: none;
    border: none;
}
ul{
    list-style: none;
}
.section-left-content-paragraph{
    height: 76px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-align: justified;

}
img{
    width: 99.5%;
    max-width: 100%;
    border: black 1.2px solid;
}
.img-content{
    height: 42rem;
    width: 40%;
}
/* ------------- IMAGES TITLES TAGS ------------ */
.title-tag{
    width: 100%;
    height: 10vh;
}
.title-tag-wrapper{
    width: 90%;
    height: 8vh;
}
h2{
    font-family: Montserrat;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 48px;
letter-spacing: -0.02em;
text-align: left;

}
.thick{
    height: 3px;
    width: 70%;
    position: relative;
    top: 30px;
}
/* ------- CAROUSEL -------- */

.carousel{
    background-color: violet;
    height: 70vh;
    width: 100%;
}




/* ------- FOOTER ------- */
footer{
    background-color: black;
    width: 100%;
    height: 20vh;
    color: white;
    position: absolute;
}
.footer-wrapper{
    width: 90%;
}
.footer-content-rectangle{
    width: 25%;
}
.footer-p{
font-family: Helvetica;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 13px;
letter-spacing: 0.01em;
text-align: justified;
}
.footer-content-img{
    width: 80%;
}
.footer-ul{
    list-style: none;
}
.footer-li{
    font-family: Helvetica;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.01em;
text-align: justified;
}
/* ---------- Responsive --------- */

@media only screen and (max-width: 420px) {
    /* body {
      background-color: lightblue;
    } */
    .main-right-content{
        overflow: hidden;
    }
    .unlisted{
        flex-direction: column;
        text-align: left;
    }
    main{
        height: auto;
        flex-direction: column;
    }
    .main-right-content, .main-left-content{
        width: 85%;
        height: 55vh;
    }
    h1{
        font-size: 6rem;
    }
    .near{
        position: relative;
        top: -7rem;
    }
    section{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 2rem;
    }
    .section-left-content, .section-right-content{
        width: 85%;
    }
    .title-tag{
        margin: 3rem auto;
        position: relative;
    }
    .thick{
        top:23px;
    }
    h2{
        font-size:3rem;
    }
    .carousel{
        width: 85%;
        margin: 1rem auto;

    }
    footer{
        height: 50vh;
        position: absolute;
    }
    .footer-wrapper{
        height: auto;
    }
    .footer-wrapper-content{
        flex-direction: column;
    }
    .footer-content-img{
        width: 100%;
    }
    .footer-content-rectangle{
        margin: 1rem 0;
        width: 80%;
    }
  }

